.navbar {
    justify-content: space-between;
}

span {
    padding-left: 1rem;
}

a {
    color: goldenrod;
    text-decoration: none;
}

a>span{
    color: #fff;
    padding-left: 0;
}