<h1 mat-dialog-title>Create Location</h1>
<div mat-dialog-content>
  <p>Fill out the form</p>
  <form #locationForm="ngForm" (ngSubmit)="onSave(locationForm.value)">
    <mat-form-field appearance="fill">
      <mat-label>url</mat-label>
      <input name="url" matInput ngModel>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input name="name" matInput ngModel>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>type</mat-label>
      <input name="type" matInput ngModel>
    </mat-form-field>

    <button mat-button>Ok</button>
  </form>
</div>
<div mat-dialog-actions>



  <button mat-button (click)="onCancel()">Cancel</button>
</div>