<h1 mat-dialog-title>Create Location</h1>
<div mat-dialog-content>
  <p>Fill out the form</p>
  <form [formGroup]="locationFormModel" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
      <mat-hint>minLength: 2</mat-hint>
      <mat-label>url</mat-label>
      <input type="text" matInput formControlName="url">
    
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name">
      <mat-hint>minLength: 4</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>type</mat-label>
      <input type="text" matInput formControlName="type">
      <mat-hint>minLength: 3</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>created</mat-label>
      <input matInput formControlName="created"  [matDatepicker]="created">
      <mat-datepicker-toggle matSuffix [for]="created"></mat-datepicker-toggle>
      <mat-datepicker #created></mat-datepicker>
      <mat-hint>MM/DD/YYYY</mat-hint>
    </mat-form-field>
    <button type="submit"  mat-button>Create</button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
</div>