<mat-grid-list *ngIf="character" cols="3" gutterSize="10px">
    <mat-grid-tile>
        <img mat-card-image [src]="character.image" [alt]="character.name">
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
                <p>
                    Name: {{character.name}}
                </p>
                <p>
                    Status: {{character.status}}
                </p>
                <p>
                    species: {{character.species}}
                </p>
                <p>
                    gender: {{character.gender}}
                </p>
            
                <p>
                    created: {{character.created|date:'yyyy-MM-dd hh.mm.ss'}}
                </p>
                <p>
                    Last known location: {{character.location.name}}
                </p>

                <p>
                    {{character.location.url}}
                    <!-- <a routerLink="/location-list"> {{character?.location?.url}}</a> -->
                </p>


            <button (click)="deleteCharacterElement(character.id)" mat-button>delete</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" *ngIf="!character">
    <p> No Data...</p>
</mat-grid-list>