<mat-grid-list cols="3" gutterSize="10px">
    <mat-grid-tile>
        <img mat-card-image [src]="character?.image" [alt]="character?.name">
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <div>
            <h3>
                <b> {{character?.name}}</b>
            </h3>
            <p>
                {{character?.status}} - {{character?.species}}
            </p>
            <p>
                {{character?.gender}}
            </p>
            <p>
                {{character?.created|date}}
            </p>
            <p>
                Last known location: - {{character?.location?.name}}
                {{character?.location?.url}}
                <!-- <a routerLink="/location-list"> {{character?.location?.url}}</a> -->
            </p>
           

            <span *ngIf="character?.characters">
                <p>characters:
                </p>
                <ul>
                    <li *ngFor="let character of character?.characters">
                        {{character}}
                    </li>
                </ul>
            </span>
        </div>
    </mat-grid-tile>
</mat-grid-list>