<div class="flex">
    <mat-card class="example-card" *ngFor="let character of characters$|async;">
        <a [routerLink]="['/character', character.id]">
            <img mat-card-image [src]="character.image" [alt]="character.name">
        </a>
        <mat-card-content>
            <mat-card-title>

                <a [routerLink]="['/character', character.id]">
                    <p>{{character.name}}</p>
                </a>
            </mat-card-title>
            <p>
                {{character.status}}
            </p>
            <p>
                {{character.gender}}
            </p>
            <p>
                {{character.created|date}}
            </p>
        </mat-card-content>

    </mat-card>
    <p *ngIf="!(characters$|async)">
        No Data...
    </p>
</div>